<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>timeFilterKey</key>
	<integer>4</integer>
	<key>locationtimeFilterKey</key>
	<string>4</string>
	<key>shape_screen_click_percentage</key>
	<real>0.03</real>
	<key>line_default_color</key>
	<string>#000000</string>
	<key>line_default_color_alpha</key>
	<integer>222</integer>
	<key>fill_default_color</key>
	<string>#000000</string>
	<key>fill_default_color_alpha</key>
	<integer>32</integer>
	<key>fill_default_line_width</key>
	<real>2</real>
	<key>geopackage_feature_tiles_max_points_per_tile</key>
	<integer>1000</integer>
	<key>geopackage_feature_tiles_max_features_per_tile</key>
	<integer>500</integer>
	<key>geopackage_features_max_points_per_table</key>
	<integer>1000</integer>
	<key>geopackage_features_max_features_per_table</key>
	<integer>500</integer>
	<key>geopackage_feature_tiles_min_zoom_offset</key>
	<integer>0</integer>
</dict>
</plist>
